<div class="data-container">
    <app-chart>
        <div class="chart-data">
            <div class="latitude">
                latitude
            </div>
            <div class="longitude">
                longitude
            </div>
        </div>

    </app-chart>
    <div class="label-data">
        <h1>O que são Latitudes e Longitudes?</h1>
        <p>A latitude é a distância ao Equador medida ao longo do meridiano de Greenwich. Esta distância mede-se em graus, podendo variar entre 0º e 90º para Norte(N) ou para Sul(S). A longitude é a distância ao meridiano de Greenwich medida ao longo do
            Equador.
        </p>
        <h1>Latitude: {{informations?.iss_position?.latitude}}</h1>
        <h1>Longitude: {{informations?.iss_position?.longitude}}</h1>
    </div>
</div>